---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";

import HeroProfileCard from "../components/HeroProfileCard.astro";
import AboutCard from "../components/AboutCard.astro";
import SkillsCard from "../components/SkillsCard.astro";
import ProjectCard from "../components/ProjectCard.astro";
import AchievementsCard from "../components/AchievementsCard.astro";
import ContactCard from "../components/ContactCard.astro";
import SecretsCard from "../components/SecretsCard.astro";
import SpotifyCard from "../components/SpotifyCard.astro";
import ClickerGameCard from "../components/ClickerGameCard.astro";
import LocationCard from "../components/LocationCard.astro";
import SteamCard from "../components/SteamCard.astro";
---

<Layout title="Chimera | Full Stack Developer">
  <Navbar />

  <!-- Bento Grid Container -->
  <!-- 
    GRID CHEAT SHEET:
    - Columns: md:grid-cols-12 means 12 columns total. 
    - Width: md:col-span-4 means it takes 4 columns (1/3 of the screen).
    - Height: row-span-2 means it takes 2 rows of height. 
    - grid-flow-row-dense: Automatically fills in empty spaces if you make weird shapes!
  -->
  <!-- Bento Grid -->
  <!-- Add 'grid-auto-rows: minmax(80px, auto);' to the container below if you want consistent row heights! -->
  <div
    class="mt-6 grid grid-cols-1 md:grid-cols-12 grid-flow-row-dense auto-rows-[minmax(90px,auto)] gap-4 lg:gap-6"
  >
    <!-- HeroProfile -->
    <div class="md:col-span-8 lg:col-span-8 row-span-2 flex">
      <HeroProfileCard class="w-full h-full" />
    </div>

    <!-- About -->
    <div class="md:col-span-4 lg:col-span-4 row-span-2 flex">
      <AboutCard class="w-full h-full" />
    </div>

    <!-- Featured Project -->
    <div class="md:col-span-4 lg:col-span-4 row-span-3 flex">
      <ProjectCard class="w-full h-full" />
    </div>

    <!-- Spotify -->
    <div class="md:col-span-4 lg:col-span-4 flex">
      <SpotifyCard class="w-full h-full" />
    </div>

    <!-- Steam -->
    <div class="md:col-span-4 lg:col-span-4 row-span-1 flex">
      <SteamCard class="w-full h-full" />
    </div>

    <!-- Skills -->
    <div class="md:col-span-4 lg:col-span-4 row-span-2 flex">
      <SkillsCard class="w-full h-full" />
    </div>

    <!-- Location -->
    <div class="md:col-span-4 lg:col-span-4 row-span-2 flex">
      <LocationCard class="w-full h-full" />
    </div>

    <!-- Clicker Game -->
    <div class="md:col-span-4 lg:col-span-4 row-span-2 flex">
      <ClickerGameCard class="w-full h-full" />
    </div>

    <!-- Achievements -->
    <div class="md:col-span-4 lg:col-span-4 row-span-2 flex">
      <AchievementsCard class="w-full h-full" />
    </div>

    <!-- Contact -->
    <div class="md:col-span-4 lg:col-span-4 row-span-3 flex">
      <ContactCard class="w-full h-full" />
    </div>

    <!-- Secrets -->
    <div class="md:col-span-8 lg:col-span-8 flex">
      <SecretsCard class="w-full h-full" />
    </div>
  </div>
</Layout>
